<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">web01</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
